extend ../../layout/default.pug

block main 
    h1 Product List

    table.product-table
        thead
            tr
                th ID
                th Name
                th Price
                th Category
                th Status
                th Actions
        tbody
            tr
                td 1
                td iPhone 15
                td $999
                td Smartphones
                td
                    span.status.available Available
                td
                    button.btn.btn-edit Edit
                    button.btn.btn-delete Delete
            tr
                td 2
                td MacBook Pro
                td $1999
                td Laptops
                td
                    span.status.out-of-stock Out of Stock
                td
                    button.btn.btn-edit Edit
                    button.btn.btn-delete Delete
            tr
                td 3
                td AirPods Pro
                td $249
                td Accessories
                td
                    span.status.available Available
                td
                    button.btn.btn-edit Edit
                    button.btn.btn-delete Delete
