Footer.footer 
    .container
    .row
        .col-md-12
            if settingsGeneral && settingsGeneral.copyright
                p= settingsGeneral.copyright
            else
                p © 2023 Your Company Name. All rights reserved.

        