doctype html 
html 
  head
    title Home
    //- link(rel='stylesheet', href='/css/home.css')
  body
    h1 Welcome to the Home Page
    p This is the home page of our application.
    //- script(src='/js/home.js') 

