mixin sub-menu(items, path)
    ul
        each item in items
            if item.children && item.children.length > 0
                li.sub-menu
                    a(href= path + '/' + item.slug) #{item.title}
                    +sub-menu(item.children, path + '/' + item.slug)
            else
                li
                    a(href= path + '/' + item.slug) #{item.title}
