
extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(2000)
    +alert-error(2000)
    .container.my-3
        .row
            .col-12
                +box-head("Forgot Password")

        .row.justify-content-center
            .col-lg-6             
                form(
                    action='/user/password/forgot' 
                    method='POST' 
                    class='mt-4'
                    )
                    .mb-3
                        label.form-label(for='email') Email
                        input#email.form-control(type='email' name='email' required placeholder='Enter your email address')

                    button.btn.btn-primary(type='submit') Send Reset Link
