
extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(2000)
    +alert-error(2000)
    .container.my-3
        .row
            .col-12
                +box-head("Login")

        .row.justify-content-center
            .col-lg-6
                form(
                    action='/user/login' 
                    method='POST' 
                    class='mt-4'
                    )
                    .mb-3
                        label.form-label(for='email') Email
                        input#email.form-control(type='email' name='email' required placeholder='Enter your email address')

                    .mb-3
                        label.form-label(for='password') Password
                        input#password.form-control(type='password' name='password' required placeholder='Enter your password')

                    button.btn.btn-primary(type='submit') Login 

            a.btn.btn-link(href='/user/password/forgot' style='margin-left:10px;') Forgot Password?

    .container.my-5
        .row
            .col-12.text-center
                p
                    | Don't have an account? 
                    a(href='/user/register') Register here.