
extends ../../layouts/default.pug

block main
  section.d-flex.align-items-center.min-vh-100.py-5
    .container.py-5
      .row.align-items-center
        .col-md-6.order-md-2
          .lc-block
            script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
            lottie-player(
              src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json"
              background="transparent"
              speed="1"
              loop
              autoplay
            )
        .col-md-6.text-center.text-md-start
          .lc-block.mb-3
            div(editable="rich")
              //- <h1 class="fw-bold h4">PAGE NOT FOUND!<br></h1>
          .lc-block.mb-3
            div(editable="rich")
              h1.display-1.fw-bold.text-muted Error 404
          .lc-block.mb-5
            div(editable="rich")
              p.rfs-11.fw-light The page you are looking for was moved, removed or might never existed.
          .lc-block
            a.btn.btn-lg.btn-secondary(href=`${prefixAdmin}/auth/logout` role="button") Back to homepage
