Header.header 
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href='/admin/dashboard')
                        img(src='/images/logo.png', alt='Logo', class='logo')
            .col-9
                        