.sider
    nav.menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Trang chủ
            li
                a(href=`${prefixAdmin}/products`) Sản phẩm
            li
                a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
